<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="t.a.m.com.doch1">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".StatusesApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/superman_app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="mydb.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="5" />
        <meta-data
            android:name="AA_MODELS"
            android:value="t.a.m.com.doch1.Models.User,                             t.a.m.com.doch1.Models.Group,                             t.a.m.com.doch1.Models.UserInGroup,                             t.a.m.com.doch1.Models.StatusesInGroup" />
        <meta-data
            android:name="AA_SERIALIZERS"
            android:value="t.a.m.com.doch1.Models.typeSerializer.ListOfLongsSerializer,             t.a.m.com.doch1.Models.typeSerializer.ListOfStringsSerializer" />

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawerActivity"
            android:label="@string/app_name"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar" />
        <activity android:name=".management.GroupManagementActivity" />

        <receiver android:name=".services.OnAlarmReceiver" />
        <receiver android:name=".services.StartServiceReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="t.a.m.com.doch1.LOGIN_SUCCESSED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.UpdaterService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>